:root {
  --backdrop: #641;
  --panel: #c94;
  --border-light: #962;
  --border-dark: #430;
  --border-size: 4px;
  --link-highlight: #d7ad6c;

  background-color: var(--backdrop);
}

.splash {
  color: var(--link-highlight);
  font-size: 200%;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.root {
  margin: auto;

  width: 1280px;
  height: 600px;

  display: grid;
  gap: 16px;
  grid-template: 36px 1fr / 360px 1fr 360px;
  grid-template-areas:
    "art text status"
    "art text journal";
}

.panel {
  user-select: none;
  padding: 8px;
  background-color: var(--panel);
  box-shadow:
    var(--border-size) var(--border-size) 0 0 var(--border-dark),
    var(--border-size) 0 0 0 var(--border-dark),
    calc(0px - var(--border-size)) calc(0px - var(--border-size)) 0 0 var(--border-light),
    calc(0px - var(--border-size)) 0 0 0 var(--border-light),
    var(--border-size) calc(0px - var(--border-size)) 0 0 var(--border-light),
    calc(0px - var(--border-size)) var(--border-size) 0 0 var(--border-dark);
}

.art {
  grid-area: art;
  image-rendering: pixelated;
  padding: 0;
}

.text {
  grid-area: text;
  display: flex;
  overflow: hidden;
}

.status {
  grid-area: status;
  display: flex;
}

.journal {
  grid-area: journal;
  display: flex;
  overflow: hidden;
}

.fill {
  flex: 1;
}

.end {
  text-decoration: underline;
  cursor: pointer;
}
