.playerOptions {
  border-top: 1px solid white;
  ul { 
    padding-left: 1em;
  }
}

.playerOption {
  font-style: italic;
  cursor: pointer;
}

.break {
  display: block;
  height: 20px;
}

.ref {
  text-decoration: none;
  color: inherit !important;
  font-weight: bolder;
}

