@font-face {
  font-family: 'Apple II Pro';
  src: url('/fonts/Apple II Pro.otf');
}

:root {
  font-family: 'Apple II Pro';
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #210;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  display: flex;
  min-height: 100vh;
}
